* {
    box-sizing: border-box;
}

html{
  font: 100%;
}

body{
  font-size: 1em;
  color: black;
  padding: 0;
  margin: 0;
  background: #f7f7f7;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

img{
  max-width: 10em;
}

.inputSearch{
  display: block;
}

/***********MAIN WRAPPER***********/
.mainWrapper{
  display: flex;
  margin: 1em;
}

/***********LEFT SIDE BAR***********/

/*user profile*/
.profile_wrapper{
  margin: .25em 0;
  display: inline-block;
  width: 300px;
  height: 500px;
  background-color: #679898;
  border-radius: 5px;
}
.profile_wrapper h2{
  font-size: 1.5em;
  color: white;
}


.userProfile{
  margin: .25em 0;
  text-align: left;
}

#avatar{
  text-align: center;
}

#username{
  padding: .25em 0;
  font-size: 2em;
}

#fullname{
  padding: .25em 0;
  font-size: 1.25em;
  border-bottom: 5px solid #f7f7f7;
}

#location{

}



.right_wrapper{
  display: inline-block;
  margin: 0;
  border: 1px solid black;
}
.right_wrapper h2{
  font-size: 1.25em
}

.sharedLinks{
  margin: .25em 0;
  display: inline-block;
  width: 500px;
  height: 250px;
  border: 1px solid black;
  border-radius: 5px;
}
.savedLinks{
  margin: .25em 0;
  display: inline-block;
  width: 500px;
  height: 250px;
  border: 1px solid black;
  border-radius: 5px;
}
