* {
    box-sizing: border-box;
}

html{
  font: 100%;
}

body{
  font-size: 1em;
  color: black;
  padding: 0;
  margin: 0;
  background: #f7f7f7;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

img{
  max-width: 10em;
}

/***********MAIN WRAPPER***********/
.mainWrapper{
  display: flex;
  margin: 1em;
}

/***********TOP NAV BAR***********/

.navBar {
  /*position: fixed;*/
  display: inline-block;
  border: 1px solid black;
  width: 100%;

}
.saveModal {
  display: none;
}
.saveModal.showing {
  display: block;
}
/*.userShare {
  display: none;
  justify-content: center;
}*/
.userShare.showing{
  display: block;
}
.inputSearch{
  position: absolute;
  text-align: left;
  display: inline-block;
  margin-left: -65px;
  margin-top: 15px;
  /*border: 1px solid black;*/
}
.searchbar {
  /*padding-bottom: 20px;*/
  border-radius: 5px;
}
.lnkrr{
  display: inline-block;
  width: 35%;
  font-size: 40px;
  margin-left: 255px;
  font-weight: 700;
  color: #679898;

  /*margin-left: 100px;*/
}
.post {
  /*position: absolute;*/
  color: #679898;
  display: inline-block;
  font-size: 18px;
  /*margin-top: 15px;*/
  margin-left: 150px;
  width: 8%;
  border-radius: 5px;
  background-color: #fafafa;
  /*margin-bottom: 8px;*/
}

/***********LEFT SIDE BAR***********/

/*user profile*/
.profile_wrapper{
  margin: .25em 0;
  display: inline-block;
  width: 300px;
  height: 500px;
  background-color: #679898;
  border-radius: 5px;
}
.profile_wrapper h2{
  font-size: 1.5em;
  color: white;
}


.userProfile{
  margin: .25em 0;
  text-align: left;
}

#avatar{
  text-align: center;
}

#username{
  padding: .25em 0;
  font-size: 2em;
}

#fullname{
  padding: .25em 0;
  font-size: 1.25em;
  border-bottom: 5px solid #f7f7f7;
}

#location{

}



.right_wrapper{
  display: inline-block;
  margin: 0;
  border: 1px solid black;
}
.right_wrapper h2{
  font-size: 1.25em
}

.sharedLinks{
  margin: .25em 0;
  display: inline-block;
  width: 500px;
  height: 250px;
  border: 1px solid black;
  border-radius: 5px;
}
.savedLinks{
  margin: .25em 0;
  display: inline-block;
  width: 500px;
  height: 250px;
  border: 1px solid black;
  border-radius: 5px;
}
